doctype html
html
  head
    link(rel="stylesheet" href="./public/css/main.css")
    script(src="./public/js/index.js")
    block title
      title Default title
  body
    include ../components/inc/header.pug
    block content
